examples/node-red-dnssd-example.json
[
    {
        "id": "eb8472f5b4f4f09d",
        "type": "group",
        "z": "792c24f42619d667",
        "name": "browse the \"fubar\" service",
        "style": {
            "label": true
        },
        "nodes": [
            "cde393f8b207574d",
            "e76485d0ae80d311",
            "04f7b3f4e1545b07",
            "18ae337caa41bda5",
            "9185c789f51b1c14",
            "9d553b9491953889",
            "8c1432a62495b648",
            "13c716a6a0e6ba98",
            "60437fc82f3fb7da",
            "c0b839b10368aa7d",
            "a7b8f04294f6afd2",
            "5dbbbda8d233f3dd",
            "a440e6b4b8611dc8"
        ],
        "x": 14,
        "y": 359,
        "w": 1032,
        "h": 322
    },
    {
        "id": "cde393f8b207574d",
        "type": "dnssd-browser",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "",
        "service": "_fubar",
        "udp": false,
        "x": 520,
        "y": 520,
        "wires": [
            [
                "e76485d0ae80d311"
            ],
            [
                "04f7b3f4e1545b07"
            ],
            [
                "60437fc82f3fb7da",
                "18ae337caa41bda5"
            ],
            [
                "13c716a6a0e6ba98"
            ]
        ]
    },
    {
        "id": "e76485d0ae80d311",
        "type": "debug",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "serviceUp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 780,
        "y": 400,
        "wires": []
    },
    {
        "id": "04f7b3f4e1545b07",
        "type": "debug",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "serviceDown",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 790,
        "y": 460,
        "wires": []
    },
    {
        "id": "18ae337caa41bda5",
        "type": "debug",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "browser error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 790,
        "y": 580,
        "wires": []
    },
    {
        "id": "9185c789f51b1c14",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "{\"command\":\"start\",\"service\":\"_hue\"}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"command\":\"start\",\"service\":\"_hue\"}",
        "payloadType": "json",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "cde393f8b207574d"
            ]
        ]
    },
    {
        "id": "9d553b9491953889",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"stop\"}",
        "payloadType": "json",
        "x": 270,
        "y": 520,
        "wires": [
            [
                "cde393f8b207574d"
            ]
        ]
    },
    {
        "id": "8c1432a62495b648",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"list\"}",
        "payloadType": "json",
        "x": 270,
        "y": 560,
        "wires": [
            [
                "cde393f8b207574d"
            ]
        ]
    },
    {
        "id": "13c716a6a0e6ba98",
        "type": "debug",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "list",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 770,
        "y": 640,
        "wires": []
    },
    {
        "id": "60437fc82f3fb7da",
        "type": "trigger",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "",
        "op1": "",
        "op2": "{\"command\":\"start\"}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 780,
        "y": 520,
        "wires": [
            [
                "c0b839b10368aa7d"
            ]
        ]
    },
    {
        "id": "c0b839b10368aa7d",
        "type": "link out",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "restart browser",
        "mode": "link",
        "links": [
            "a7b8f04294f6afd2"
        ],
        "x": 940,
        "y": 520,
        "wires": [],
        "l": true
    },
    {
        "id": "a7b8f04294f6afd2",
        "type": "link in",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "restart browser",
        "links": [
            "c0b839b10368aa7d"
        ],
        "x": 280,
        "y": 600,
        "wires": [
            [
                "cde393f8b207574d"
            ]
        ],
        "l": true
    },
    {
        "id": "5dbbbda8d233f3dd",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"command\":\"start\"}",
        "payloadType": "json",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "cde393f8b207574d"
            ]
        ]
    },
    {
        "id": "a440e6b4b8611dc8",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "eb8472f5b4f4f09d",
        "name": "{\"command\":\"start\",\"service\":\"_fubar\"}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"command\":\"start\",\"service\":\"_fubar\"}",
        "payloadType": "json",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "cde393f8b207574d"
            ]
        ]
    },
    {
        "id": "465b2246c4aec2c8",
        "type": "group",
        "z": "792c24f42619d667",
        "name": "advertise the \"fubar\" service on port 6666 with a TXT record formatted using JSONata",
        "style": {
            "label": true
        },
        "nodes": [
            "186faf910b61cb76",
            "2551a0e57b67d8e7",
            "bd6b6932174ccce0",
            "ef7fbb29d69dd033",
            "a179bebdb1fe4d62",
            "33b881dbe696cb0c",
            "8a0b196c3d3d9fc8",
            "86516f240bf0b2c9",
            "ee68606a0b06cc3d",
            "627a4307fdd3233f",
            "54527d837f71af4a",
            "3be511bc15b571d7",
            "348efed9b34e2c21"
        ],
        "x": 14,
        "y": 19,
        "w": 1092,
        "h": 322
    },
    {
        "id": "186faf910b61cb76",
        "type": "dnssd-advertisement",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "",
        "service": "_fubar",
        "port": "6666",
        "options": "{\"txt\":{\"timestamp\":$millis()}}",
        "optionstype": "jsonata",
        "udp": false,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "2551a0e57b67d8e7"
            ],
            [
                "bd6b6932174ccce0"
            ],
            [
                "ef7fbb29d69dd033"
            ],
            [
                "ee68606a0b06cc3d",
                "a179bebdb1fe4d62"
            ]
        ]
    },
    {
        "id": "2551a0e57b67d8e7",
        "type": "debug",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "instanceRenamed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd6b6932174ccce0",
        "type": "debug",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "hostRenamed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 820,
        "y": 120,
        "wires": []
    },
    {
        "id": "ef7fbb29d69dd033",
        "type": "debug",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "stopped",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "a179bebdb1fe4d62",
        "type": "debug",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "advertisement error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 830,
        "y": 300,
        "wires": []
    },
    {
        "id": "33b881dbe696cb0c",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "{\"command\":\"start\",\"service\":\"_waka\"}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "{\"command\":\"start\",\"service\":\"_waka\"}",
        "payloadType": "json",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ]
    },
    {
        "id": "8a0b196c3d3d9fc8",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"stop\"}",
        "payloadType": "json",
        "x": 270,
        "y": 220,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ]
    },
    {
        "id": "86516f240bf0b2c9",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "updateTXT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t   \"command\":\"updateTXT\",\t   \"txt\":{\"timestamp\":$millis()}\t}",
        "payloadType": "jsonata",
        "x": 300,
        "y": 260,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ]
    },
    {
        "id": "ee68606a0b06cc3d",
        "type": "trigger",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "",
        "op1": "",
        "op2": "{\"command\":\"start\"}",
        "op1type": "nul",
        "op2type": "json",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "627a4307fdd3233f"
            ]
        ]
    },
    {
        "id": "627a4307fdd3233f",
        "type": "link out",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "restart advertisement",
        "mode": "link",
        "links": [
            "54527d837f71af4a"
        ],
        "x": 980,
        "y": 240,
        "wires": [],
        "l": true
    },
    {
        "id": "54527d837f71af4a",
        "type": "link in",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "restart advertisement",
        "links": [
            "627a4307fdd3233f"
        ],
        "x": 260,
        "y": 300,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ],
        "l": true
    },
    {
        "id": "3be511bc15b571d7",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "{\"command\":\"start\"}",
        "payloadType": "json",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ]
    },
    {
        "id": "348efed9b34e2c21",
        "type": "inject",
        "z": "792c24f42619d667",
        "g": "465b2246c4aec2c8",
        "name": "{\"command\":\"start\",\"service\":\"_fubar\"}",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "2",
        "topic": "",
        "payload": "{\"command\":\"start\",\"service\":\"_fubar\"}",
        "payloadType": "json",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ]
    }
]