examples/node-red-dnssd-example.json
[
    {
        "id": "e3aa15dab4b8c309",
        "type": "group",
        "z": "d6908b36e8cd5164",
        "name": "browse the \"fubar\" service",
        "style": {
            "label": true
        },
        "nodes": [
            "bc1ac8a9eb8d9aaa",
            "fe2e2956d983de0a",
            "8705919cac494af1",
            "f25897d15f956c83"
        ],
        "x": 14,
        "y": 359,
        "w": 432,
        "h": 202
    },
    {
        "id": "bc1ac8a9eb8d9aaa",
        "type": "dnssd-browser",
        "z": "d6908b36e8cd5164",
        "g": "e3aa15dab4b8c309",
        "name": "",
        "service": "_fubar",
        "udp": false,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "fe2e2956d983de0a"
            ],
            [
                "8705919cac494af1"
            ],
            [
                "f25897d15f956c83"
            ]
        ]
    },
    {
        "id": "fe2e2956d983de0a",
        "type": "debug",
        "z": "d6908b36e8cd5164",
        "g": "e3aa15dab4b8c309",
        "name": "serviceUp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "8705919cac494af1",
        "type": "debug",
        "z": "d6908b36e8cd5164",
        "g": "e3aa15dab4b8c309",
        "name": "serviceDown",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 330,
        "y": 460,
        "wires": []
    },
    {
        "id": "f25897d15f956c83",
        "type": "debug",
        "z": "d6908b36e8cd5164",
        "g": "e3aa15dab4b8c309",
        "name": "browser error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 330,
        "y": 520,
        "wires": []
    },
    {
        "id": "465b2246c4aec2c8",
        "type": "group",
        "z": "d6908b36e8cd5164",
        "name": "advertise the \"fubar\" service on port 6666 with a TXT record formatted using JSONata",
        "style": {
            "label": true
        },
        "nodes": [
            "186faf910b61cb76",
            "2551a0e57b67d8e7",
            "bd6b6932174ccce0",
            "ef7fbb29d69dd033",
            "a179bebdb1fe4d62",
            "33b881dbe696cb0c",
            "8a0b196c3d3d9fc8",
            "86516f240bf0b2c9"
        ],
        "x": 14,
        "y": 19,
        "w": 732,
        "h": 322
    },
    {
        "id": "186faf910b61cb76",
        "type": "dnssd-advertisement",
        "z": "d6908b36e8cd5164",
        "g": "465b2246c4aec2c8",
        "name": "",
        "service": "_fubar",
        "port": "6666",
        "options": "{\"txt\":{\"timestamp\":$millis()}}",
        "optionstype": "jsonata",
        "udp": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "2551a0e57b67d8e7"
            ],
            [
                "bd6b6932174ccce0"
            ],
            [
                "ef7fbb29d69dd033"
            ],
            [
                "a179bebdb1fe4d62"
            ]
        ]
    },
    {
        "id": "2551a0e57b67d8e7",
        "type": "debug",
        "z": "d6908b36e8cd5164",
        "g": "465b2246c4aec2c8",
        "name": "instanceRenamed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 610,
        "y": 60,
        "wires": []
    },
    {
        "id": "bd6b6932174ccce0",
        "type": "debug",
        "z": "d6908b36e8cd5164",
        "g": "465b2246c4aec2c8",
        "name": "hostRenamed",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "ef7fbb29d69dd033",
        "type": "debug",
        "z": "d6908b36e8cd5164",
        "g": "465b2246c4aec2c8",
        "name": "stopped",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 580,
        "y": 220,
        "wires": []
    },
    {
        "id": "a179bebdb1fe4d62",
        "type": "debug",
        "z": "d6908b36e8cd5164",
        "g": "465b2246c4aec2c8",
        "name": "advertisement error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "counter",
        "x": 610,
        "y": 300,
        "wires": []
    },
    {
        "id": "33b881dbe696cb0c",
        "type": "inject",
        "z": "d6908b36e8cd5164",
        "g": "465b2246c4aec2c8",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"start\"}",
        "payloadType": "json",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ]
    },
    {
        "id": "8a0b196c3d3d9fc8",
        "type": "inject",
        "z": "d6908b36e8cd5164",
        "g": "465b2246c4aec2c8",
        "name": "stop",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"command\":\"stop\"}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ]
    },
    {
        "id": "86516f240bf0b2c9",
        "type": "inject",
        "z": "d6908b36e8cd5164",
        "g": "465b2246c4aec2c8",
        "name": "updateTXT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\t   \"command\":\"updateTXT\",\t   \"txt\":{\"timestamp\":$millis()}\t}",
        "payloadType": "jsonata",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "186faf910b61cb76"
            ]
        ]
    }
]